create database [QL_QUANCAFE]
go
USE QL_QUANCAFE
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 16/09/2024 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[USERNAME] [nvarchar](100) NOT NULL,
	[DISPLAYNAME] [nvarchar](100) NOT NULL,
	[PASSWORD] [nvarchar](1000) NOT NULL,
	[TYPEACCOUNT] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BILL]    Script Date: 16/09/2024 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAMETABLE] [nvarchar](100) NOT NULL,
	[NAMEFOOD] [nvarchar](100) NOT NULL,
	[COUNTS] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 16/05/2024 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[NAME] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FOOD]    Script Date: 16/05/2024 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD](
	[NAME] [nvarchar](100) NOT NULL,
	[NAMECATEGORY] [nvarchar](100) NOT NULL,
	[PRICE] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TABLEF]    Script Date: 16/05/2024 8:59:53 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLEF](
	[NAME] [nvarchar](100) NOT NULL,
	[STT] [nvarchar](10) NOT NULL,
	[TOTAL] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ACCOUNT] ([USERNAME], [DISPLAYNAME], [PASSWORD], [TYPEACCOUNT]) VALUES (N'admin', N'Quản Lý 1', N'admin', N'ADMIN')
INSERT [dbo].[ACCOUNT] ([USERNAME], [DISPLAYNAME], [PASSWORD], [TYPEACCOUNT]) VALUES (N'admin2', N'Quản Lý 2', N'admin', N'ADMIN')
INSERT [dbo].[ACCOUNT] ([USERNAME], [DISPLAYNAME], [PASSWORD], [TYPEACCOUNT]) VALUES (N'kata', N'Ka Ta 1', N'kata', N'CASHIER')
INSERT [dbo].[CATEGORY] ([NAME]) VALUES (N'CAFE')
INSERT [dbo].[CATEGORY] ([NAME]) VALUES (N'Kem')
INSERT [dbo].[CATEGORY] ([NAME]) VALUES (N'Nước ngọt')
INSERT [dbo].[FOOD] ([NAME], [NAMECATEGORY], [PRICE]) VALUES (N'7 up', N'Nước ngọt', 10000)
INSERT [dbo].[FOOD] ([NAME], [NAMECATEGORY], [PRICE]) VALUES (N'CF đá', N'CAFE', 10000)
INSERT [dbo].[FOOD] ([NAME], [NAMECATEGORY], [PRICE]) VALUES (N'CF đen', N'CAFE', 10000)
INSERT [dbo].[TABLEF] ([NAME], [STT], [TOTAL]) VALUES (N'Bàn 01', N'TRONG', 0)
INSERT [dbo].[TABLEF] ([NAME], [STT], [TOTAL]) VALUES (N'Bàn 02', N'TRONG', 0)
INSERT [dbo].[TABLEF] ([NAME], [STT], [TOTAL]) VALUES (N'Bàn 03', N'TRONG', 0)
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (N'NO NAME..') FOR [DISPLAYNAME]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ('0000') FOR [PASSWORD]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (N'CASHIER') FOR [TYPEACCOUNT]
GO
ALTER TABLE [dbo].[BILL] ADD  DEFAULT ((1)) FOR [COUNTS]
GO
ALTER TABLE [dbo].[FOOD] ADD  DEFAULT ((0)) FOR [PRICE]
GO
ALTER TABLE [dbo].[TABLEF] ADD  DEFAULT (N'TRONG') FOR [STT]
GO
ALTER TABLE [dbo].[TABLEF] ADD  DEFAULT ((0)) FOR [TOTAL]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD FOREIGN KEY([NAMETABLE])
REFERENCES [dbo].[TABLEF] ([NAME])
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD FOREIGN KEY([NAMEFOOD])
REFERENCES [dbo].[FOOD] ([NAME])
GO
ALTER TABLE [dbo].[FOOD]  WITH CHECK ADD FOREIGN KEY([NAMECATEGORY])
REFERENCES [dbo].[CATEGORY] ([NAME])
GO

/*table-reservation-history*/
USE [QL_QUANCAFE]
GO
CREATE TABLE [dbo].[BOOKINGHISTORY](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](100) NOT NULL,
	[BookingTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE [dbo].[BOOKINGHISTORY]
ADD [TotalAmount] [nvarchar](50) NULL


